* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
  /* overflow-y: hidden; */
}

#Navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.navRight {
  display: flex;
  align-items: center;
}

.ulItems {
  display: flex;
  align-items: center;
}

.navlinks {
  list-style: none;
  padding-right: 40px;
}

.btn {
  background-color: #dfc15e;
  color: white;
  padding: 5px 7px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.topHeader {
  background: url("../Image/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: 1440px 583px;
}

.backTxt {
  color: white;
  padding-top: 300px;
  padding-left: 100px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: 500;
}

.bmHeader {
  text-align: center;
  padding: 40px 70px;
  line-height: 30px;
}

.bmHeader > h2 {
  padding-bottom: 30px;
}

.belowHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 20px;
  /* margin-bottom: 30px; */
}

.bannerTxt{
  text-align: justify;
  padding: 20px 50px;
}

.text > i{
  color: #212D94;
  font-size: 25px;
}

.secure > i{
  color: #212D94;
  font-size: 25px;
}

.timeStamp > i{
  color: #212D94;
  font-size: 25px;
}

/* main  */
.container{
  width: 90%;
  /* background: #000; */
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}

.container .form-outer{
  width: 100%;
  padding-left: 8%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 330px;
  height: 30px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  height: calc(100% + 5px);
  border: none;
  /* background:  #212D94; */
  padding: 0 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form .page .field .prev{
  background-color: #dfc15e;
  color: #000;
  font-weight: 500;
}

form .page .field .next{
  background-color: #212D94;
}


form .page .btns button{
  /* margin-top: -20px!important; */
}

form .page .btns button.prev{
  margin-right: 3px;
}

form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid  #212D94;;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color:  #212D94;
  background:  #212D94;
  color: #fff;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -250px;
  height: 3px;
  width: 240px;
  background: lightgray;
}
.progress-bar .step .bullet.active:after{
  background:  #212D94;;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color:  #212D94;;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}


/* Footer  */

.footer {
  background-color: #212d94;
  color: #fff;
}

.insideFooter {
  display: flex;
  justify-content: space-evenly;

  padding: 50px 0;
}

.carrier > p{
  padding-top: 20px;
}

.add {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  padding-left: 10px;
}

.phone {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.phone > p {
  padding-left: 10px;
}
.socialAcc {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.footerBtm {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
